.rdv-form {
  display: flex;
  flex-direction: column;
  gap: 4px;
  min-width: 460px;
  padding-top: 8px;
}

.full-width {
  width: 100%;
}

.row {
  display: flex;
  gap: 12px;
}

.row mat-form-field {
  flex: 1;
}

@media (max-width: 520px) {
  .rdv-form {
    min-width: unset;
  }
  .row {
    flex-direction: column;
  }
}
